p {
    color: $color2;
}
h2 {
    color: $color2;
}
h4 {
    color: $color2;
}
h5 {
    color: $color2;
}

a {
    color: $color1;
    text-decoration: none;
}

a:hover {
    color: $color2;
    text-decoration: none;
}