.project-section {
    margin: 2em 0em 2em 0em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-style: solid;
    border-color: $color2;
    & img {
        width: 5em;
        height: 5em;
        margin: 0em 1em 0em 0em;
    }
    
    & h3 {
        color: $color1;
    }
}